<a href="https://colab.research.google.com/github/less927/300-/blob/main/%EC%84%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#세트
#수학집합의 개념을 파이썬에서 이용할 수 있게 만든 데이터타입
#데이터의 순서가없고 중복해서 쓸수없다.
#집합의 기본이 되는 교, 합, 차집할을 구할 수 있는 메소드
#{} 로 생성

In [3]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}  # 중복된 데이터는 하나만 출력된다
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [4]:
#세트의 교, 합 , 차집합 구하기

In [5]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8,  9, 10}
a.intersection(b)

{4, 5}

In [6]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
a.difference(b)

{1, 2, 3}

In [9]:
#연산자를 이용한 집합의 사용법

In [10]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8, 9, 10}
A & B  # 교집합

{4, 5}

In [11]:
A | B  #합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
A - B   # A 에대한 집합B 의 차집합

{1, 2, 3}

In [13]:
# 리스트, 튜플, 세트간 타입변환

a = [1, 2, 4, 5, 6]
type(a)

list

In [14]:
b = tuple(a)
b

(1, 2, 4, 5, 6)

In [15]:
c = set(a)
c

{1, 2, 4, 5, 6}