<a href="https://colab.research.google.com/github/less927/300-/blob/main/%EC%9E%85%EB%A0%A5%EA%B3%BC_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 화면출력

In [ ]:
print ('hello python')

hello python

In [ ]:
print('best', 'python', 'book')

best python book

In [ ]:
print ('best', 'python', 'book', sep = '-:*:-') # sep = 함수안에 두문자열 사이의 구분하는값을 설정, 지정하지않을시 빈칸이 들어감

best-:*:-python-:*:-book

In [ ]:
print('abcd' + 'efg')

abcdefg

In [ ]:
print('Best', 'python', 'book'+':', 'This book')

Best python book: This book

In [ ]:
x= 10
print(x)

10

In [ ]:
name = 'James'
ID_num = 789
print('name:', name + ',', 'ID Number:',ID_num)

name: James, ID Number: 789

In [ ]:
print('James id my friend.\nHe is Korean') # \n 줄바

James id my friend.
He is Korean

In [ ]:
print('James id my friend.\n\nHe is Korean')

James id my friend.

He is Korean

In [ ]:
print('welcome to ')
print('python')

welcome to
python

In [ ]:
print ('welcome to ', end='')
print ('python')

welcome to python

In [ ]:
print('%type' % data )

ValueError: unsupported format character 't' (0x74) at index 1

In [ ]:
name ='광재'
print ('%s는 나의 친구입니다.' % name)

광재는 나의 친구입니다.

In [ ]:
r = 3      # %r int
PI = 3.14159265358979    # %f float
print("반지름:%d, 원주율:%f" %(r, PI)) #지정된 위치에 데이터출력

반지름:3, 원주율:3.141593

In [ ]:
animal_0 = 'cat'
animal_1 = 'dog'
animal_2 = 'fox'

print('Animal: {0}'.format(animal_0))
print('Animal: {0},{1},{2}'.format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat,dog,fox

In [ ]:
print ('Aniaml: {1}, {2}, {0}'.format(animal_0, animal_1, animal_2))

Aniaml: dog, fox, cat

In [ ]:
print("Animal: {0},{2}".format(animal_0, animal_1, animal_2))

Animal: cat,fox

In [ ]:
print("Animal:{},{},{},".format(animal_0, animal_1, animal_2))

Animal:cat,dog,fox,

In [ ]:
name = 'thomas'
age = 10
a = 0.123456789
fmt_string = 'String: {0}. Integer Number:{1}. Floating Number:{2}'
print(fmt_string.format(name,age,a))

String: thomas. Integer Number:10. Floating Number:0.123456789

In [ ]:
a =0.123456789
print('{0:2f}, {0:.5f}'.format(a))

0.123457, 0.12346

In [2]:
#키보드 입력
data = input ("문자열")

문자열

In [3]:
yourName = input('당신의 이름은?')
print('당신은{} 이군요.'.format(yourName))

당신의 이름은?aa
당신은aa 이군요.

In [6]:
num = input('숫자를 입력하세요:')
print('당신이 입력한 숫자는 {}입니다.'.format(num))

숫자를 입력하세요:11
당신이 입력한 숫자는 11입니다.

In [8]:
a = input ('정사각형 한변의 길이는?:')
area = int(a) **2
print('정사각형의 넓이:{}'.format(area))

정사각형 한변의 길이는?:5
정사각형의 넓이:25

In [11]:
b =input('정사각형 한 변의 길이는?:')
area = float (b)**2
print('정사각형의 넓이:{}'.format(area))

정사각형 한 변의 길이는?:1.5
정사각형의 넓이:2.25

In [13]:
# # 파일 읽고 쓰기
# # f = open('file_name', 'mode')

# # 파일쓰기 코드 구조
# f=open('file_name', 'w')
# f.write(str)
# f.close()
# 파일 생성하고  열어서 작성후 닫는 코드

In [14]:
cd ..

/

In [15]:
cd

/root

In [16]:
ls

In [18]:
f = open('myFile.txt,'w')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-18-53bb522c1cb7>, line 1)

In [19]:
f = open('myFile.txt,'w')
f.write('This is my first file')
f.close()

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-19-08878287514d>, line 1)