<a href="https://colab.research.google.com/github/less927/300-/blob/main/%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# if 문
# 단일 조건에 따른 분기

In [ ]:
#기본 문법 구성
# if <조건문>:
#   <코드블록>

In [ ]:
x =100
if x >= 90:
  print('congrats')
  print('granted')

congrats
granted

In [ ]:
x = 95
if x >= 90:
  print('pass')

pass

In [ ]:
# #단일조건 및 그외 조건에 따른 분기 (if~else)
# if <조건문>:
#   <코드블록1>

# else :
#   <코드블록2>

In [ ]:
if x >= 90:
  print('congrats')
else:
  print('sorry')

congrats

In [ ]:
# # 여러 조건에 따른 분기 (if, elif, else)
# if <조건문1>:
#   <코드 블록1>
# elif <조건문2>:
#   <코드블록2>
#   `
#   `
#   `

# elif <조건문n>:
#   <조건문n>

# else:
#   <코드블록m>

In [ ]:
x = 85

if x >= 90:
  print('very good')
elif (x >= 80) and (x < 90):
  print('good')
else:
  print('bad')

good

In [ ]:
x = 85

if x >= 90:
  print('very good')
elif 80 <= x < 90:
  print('good')
else:
  print('bad')

good

In [ ]:
# #중첩조건에 따른 분기
# if <조건문 1>:
#   if<조건문 1-1>:
#     <코드 블록 1-1>  1-1 을 검사한후 만족하면 1-1 수행, 그렇지않으면 1-2 를 수행

#   else:
#     <코드 블록 1-2>
# elif <조건문 2>:
#   <코드 블록 2>

# else:
#   <코드 블록 3>

In [ ]:
x = 100
if  x >= 90 :
  if x == 100:
    print('perfect')

  else:
    print(excellent)

elif 80 <= x <90:
  print('good')

else:
  ('bad')

perfect

In [ ]:
#for 반복문 for 와w while 로 구현가능한 반복문

a=0                 #변수 a 를 0으로 지정
print (a)           #변수 a 를 출력

a = a +1            # 변수 a에 1을 더한후 다시 a에 대입
print (a)           # 변수 a 출력

a = a +1
print (a)

a = a +1
print (a)

a = a +1
print (a)

a = a +1
print (a)

0
1
2
3
4
5

In [ ]:
# for <반복 변수> in <반복 범위>:
#   # <코드 블록>

In [ ]:
for a in [0, 1, 2, 3, 4, 5]:
  print(a)
  print(a +10)

0
10
1
11
2
12
3
13
4
14
5
15

In [ ]:
for a in [0, 1, 2, 3, 4, 5]:
  print(a)

0
1
2
3
4
5

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
for myFriends in myFriends:
  print(myFriends)

James
Robert
Lisa
Mary

In [ ]:
# range() 의 함수이용
# range(start , stop, step)
# start 시작 시점, stop 범위 끝지점 step 증감 크기
#start stop 0, 양 , 음의 정수, 0 모두사용 가능 step 양,음 정수 사용

In [ ]:
print( range (0, 10, 1))
print( range (0, 10, 2))
print( range (0, 10, 3)) # 범위나 스텝을 출력 하지않음

range(0, 10)
range(0, 10, 2)
range(0, 10, 3)

In [ ]:
print(list(range(0, 10, 1)))
print(list(range(0, 10, 2)))
print(list(range(0, 10, 3))) # start 부터 stop 까지만 출력, step 출력하지않음

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [ ]:
for a in range (0, 6, 1):
  print(a)

0
1
2
3
4
5

In [ ]:
for a in range (0, 6, 2):
 print(a)

0
2
4

In [ ]:
print(list(range(0, 10, 1)))
print(list(range(0, 10,)))
print(list(range(10))) # stop

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(0, 20, 5)))
print(list(range(-10, 0, 2)))
print(list(range(3, -10, -3)))
print(list(range(0, -5, 1))) # 0부터 +1 씩 '증가'하여 -5 가 될수 없어서 빈칸 출력

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [ ]:
# # 중첩 for 문
# for <반복변수1> in  <반복범위1>:
#   for<반복변수2> in <반복범위 2>:
#     <코드블록>

In [ ]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']


print('x y')
for x in x_list:
  for y in y_list:
    print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [ ]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]
for k in range(len(names)):
  print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [ ]:
# # 같은 길이의 데이터를 하나로 묶어주는 zip() 함수
# for var1, var2, in zip(list1, list2):
#   <코드블록>

In [ ]:
for name, score in zip(names, scores):
  print(name,score)

James 95
Robert 96
Lisa 97
Mary 94

In [ ]:
#조건에 따라 반복하는 while 문

In [ ]:
i= 0
sum = 0 # 변수  초기화

print ('i sum')
while (sum < 20):   # 조건 검사
  i = i + 1          # i 를 1 씩 증가
  sum = sum + i     # 이전의 sum 과 현재 i 를 더해서 sum 갱신
  print (i, sum)    # i와 sum을 출력

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [ ]:
q = 0
while (q < 30) :
  q = q + 1
  print(q)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
# while 조건문
k = 0
while True:
  k = k + 1

  if (k > 3):
    break

  print(k)

1
2
3

In [ ]:
# for 조건문
for k in range (10):
  if (k > 2) :
    break
  print(k)

0
1
2

In [ ]:
# for continue 조건문
for k in range (5):
  if (k == 2):
    continue  # 조건을 만족해 2 출력하지않음
  print(k)

0
1
3
4

In [ ]:
k = 0
while True :
    k = k + 1

    if(k ==2 ):
      print('continue next') # contitnue 는 반복문 건너뜀
      continue
    if(k > 4):
      break

    print(k)

1
continue next
3
4

In [1]:
# 리스트 컴프레헨션 기본 구조
# [<반복실행문> for <반복변수> in <반복범위>]

In [4]:
numbers = [1, 2, 3, 4, 5]
square = []

for i in numbers:
  square.append(i**2)

  print(square)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [3]:
numbers = [1, 2, 3, 4, 5]
square = [i **2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

In [5]:
# 조건문을 포함한 리스트 컴프레헨션
# [<반복 실행문> for <반복변수> in <반복범위> if <조건문>]

In [6]:
numbers = [1, 2, 3, 4, 5]
square = []

for i in numbers:
  if i >= 3:
    square.append(i**2)

print(square)

[9, 16, 25]

In [8]:
numbers = [1, 2, 3, 4, 5]
square = [i**2 for i in numbers if i >= 3]

print(square)

[9, 16, 25]