<a href="https://colab.research.google.com/github/less927/300-/blob/main/%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 튜플은 리스트와 유사하게 데이터 여러개를 하나로묶는데 이용, 한번 입력되면 변경 불가,
# () 이용해서 사용

In [ ]:
tuple = (1, 2, 3, 4)
tuple

(1, 2, 3, 4)

In [ ]:
tuple2 = 5, 6, 7, 8
tuple2

(5, 6, 7, 8)

In [1]:
# 튜플 요소는 변경하거나 삭제할수 없다
# index 나 count 처럼 요소를 바꾸지 않는 메소드는 사용 가능

In [15]:
tuple6= ('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')

2

In [16]:
len(tuple6)

6

In [22]:
tuple6.count('b') # 지정 요소의 갯수를 반환

1