In [ ]:
q = open('myFile.txt, 'w')
q.write('This is my first file')
q.close()

In [ ]:
f = open('file_name.txt', 'w')



f.write(text_to_write)


f.close()

In [ ]:
a = open('file_name.txt', 'w')



a.write('text_to_write')


a.close()

In [ ]:
b = open('file_name1.txt', 'w')



b.write('text_to_write')


b.close()

In [ ]:
n = open('file.txt', 'w')
n.write('nn')
n.close()

In [ ]:
n = open('file.txt', 'r')
file = n.read()
n.close()
print(file)

In [ ]:
#반복문 이용해 파일읽고 쓰기

In [35]:
 f= open ('two_times_table.txt','w')
 for num in range(1,6):
     format_string = "2 x {0} = {1}\n".format(num,2*num)
     f.write(format_string)
f.close()

In [36]:
f = open ("two_times_table.txt")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, end="")
print(line2, end="")

2 x 1 = 2
2 x 2 = 4

In [37]:
f= open ('two_times_table.txt')
line = f.readline()
while line:
    print(line,end = '')
    line = f.readline()
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [38]:
f = open('two_times_table.txt')
lines = f.readlines()
f.close()
print(lines)

['2 x 1 = 2\n', '2 x 2 = 4\n', '2 x 3 = 6\n', '2 x 4 = 8\n', '2 x 5 = 10\n']

In [40]:
f = open('two_times_table.txt')
lines = f.readlines()
f.close()
for line in lines:
    print(line, end='')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [41]:
f = open ('two_times_table.txt')
for line in f.readlines():
    print(line,end='')
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [42]:
f = open ('two_times_table.txt')
for line in f:
    print(line, end='')
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [43]:
#with 문 이용해 파일읽고 쓰기

In [47]:
with open('H:\code\python basic\myTextFile2.txt', 'w') as f:
    f.write('File read/wtite test2: line1\n')
    f.write('File read/wtite test2: line2\n')
    f.write('File read/wtite test2: line3\n')

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\sonic\AppData\Local\Temp\ipykernel_16072\2316737286.py:1: SyntaxWarning: invalid escape sequence '\c'
  with open('H:\code\python basic\myTextFile2.txt', 'w') as f:

In [49]:
with open('H:\code\python basic\myTextFile2.txt')as f:
    file_string = f.read()
    print(file_string)

File read/wtite test2: line1
File read/wtite test2: line2
File read/wtite test2: line3

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\sonic\AppData\Local\Temp\ipykernel_16072\4247118457.py:1: SyntaxWarning: invalid escape sequence '\c'
  with open('H:\code\python basic\myTextFile2.txt')as f:

In [58]:
with open('H:\code\python basic\myTextFile3.txt', 'w')as f:
    for num in range(1,6):
        format_string = "3 x {0} = {1}\n".format(num,3*num)
        f.write(format_string)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\sonic\AppData\Local\Temp\ipykernel_16072\2320579301.py:1: SyntaxWarning: invalid escape sequence '\c'
  with open('H:\code\python basic\myTextFile3.txt', 'w')as f:

In [59]:
with open('H:\code\python basic\myTextFile3.txt', 'r')as f:
    for line in f:
        print(line,end='')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\sonic\AppData\Local\Temp\ipykernel_16072\1120895728.py:1: SyntaxWarning: invalid escape sequence '\c'
  with open('H:\code\python basic\myTextFile3.txt', 'r')as f:

In [ ]:
# 함수 정의와 호출

In [60]:
def my_func():
    print("My first function")
    print("This is a function")

In [61]:
my_func()

My first function
This is a function

In [62]:
#인자는 있으나 반환값이 없는 함수

In [63]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [64]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [69]:
def my_student_info(name, school_ID, phoneNumber):
    print("-----------------------")
    print("학생이름:", name)
    print("-학급번호:",school_ID)
    print("-전화번호:",phoneNumber)

In [71]:
my_student_info("현아", "01", "01-234-5678")
my_student_info("진수", "02", "02-987-6543")

-----------------------
학생이름: 현아
-학급번호: 01
-전화번호: 01-234-5678
-----------------------
학생이름: 진수
-학급번호: 02
-전화번호: 02-987-6543

In [72]:
def my_calc(x,y):
    z = x*y
    return z

In [73]:
my_calc(3,4)

12

In [74]:
def my_student_info_list(student_info):
    print("***********************")
    print("*학생이름",student_info[0])
    print("*학생이름",student_info[1])
    print("*학생이름",student_info[2])
    print("************************")

In [76]:
student1_info = ["현아", "01", "01-234-5678"]
my_student_info_list(student1_info)

***********************
*학생이름 현아
*학생이름 01
*학생이름 01-234-5678
************************

In [77]:
my_student_info_list(["진수", "02", "01-987-6543"])

***********************
*학생이름 진수
*학생이름 02
*학생이름 01-987-6543
************************

In [9]:
a = 5# 전역변수

def func1():
    a = 1
    print("[func1] local a =", a)
    
def func2():
    a = 2
    print("[func2] local a =", a)
    
    
def func3():
    print("[func3] global a =", a)        


def func4():
    a=4  # 전역변수 값 변경
    print("[func4] global a = ",a)

In [10]:
func1()
func2()
print("global a =", a)

[func1] local a = 1
[func2] local a = 2
global a = 5

In [11]:
func3()
func4()
func3()

[func3] global a = 5
[func4] global a =  4
[func3] global a = 5

In [13]:
# lambda함수
(lambda x : x**2) (3)

9

In [18]:
mySquare = lambda x : x **2
print(mySquare(2))
print(mySquare(5))

4
25

In [19]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

In [20]:
# 형변환 함수

[int(0.123), int(3.4556), int(-1.313131)]

[0, 3, -1]

In [21]:
[int ('1234'), int('5678'), ('-9012')]

[1234, 5678, '-9012']

In [22]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [23]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

In [25]:
[str(123), str(45678), str(-987)] #문자열 데이터

['123', '45678', '-987']

In [27]:
[str(0.123), str(345.678), str(-5.987)]# 실수를 문자열 데이터로

['0.123', '345.678', '-5.987']

In [28]:
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1,2, 'def'}
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [30]:
print("리스트로 변환: ", list(tuple_data), list(set_data))
print("튜플로 변환: ", tuple(list_data), tuple(set_data))
print("세트로 변환: ", set(list_data), set (tuple_data))

리스트로 변환:  ['abc', 1, 2, 'def'] [1, 2, 'def', 'abc']
튜플로 변환:  ('abc', 1, 2, 'def') (1, 2, 'def', 'abc')
세트로 변환:  {1, 2, 'def', 'abc'} {1, 2, 'def', 'abc'}

In [31]:
#bool함수
#숫자 0이면 False, 0이외의 숫자면True

In [32]:
bool(0) # 인자: 숫자 0

False

In [34]:
bool(1) # 인자: 양의 정수

True

In [36]:
#문자열을 bool로
#'a', ' ' 공백이나 문자가있으면 true
#''m', 'None' 문자가 없다면 False

In [ ]:
#bool 함수의 활용

In [37]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다")

In [38]:
print_name("James")
print_name("")

입력된 이름: James
입력된 이름이 없습니다

In [40]:
#최소값 최대값 구하는 함수
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)] #min, max

[0, 99.5]

In [41]:
# 문자열에도 적용
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [42]:
# 튜플과 세트에서 최소값 최대값 구하기
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)] #min, max

[0, 99.5]

In [43]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)] #비교항목이 문자열일 경우 먼저 첫문자와  비교 같다면, 두번째 비교
                         #대문자 > 소문자 문자 > 숫자

['Abc', 'efg']

In [47]:
#절대값과 전체합을 구하는 함수 abs()

print([abs(10), abs(-10)])
print([abs(2.45), abs(-2.45)])
#절대값 구하기

[10, 10]
[2.45, 2.45]

In [48]:
# 합을 구하는 함수 sum()
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

In [56]:
#항목의 개수를 구하는 함수len()
print(len("ab cd"))
print(len([1, 2, 3, 4, 5, 6, 7, 8])) #리스트
print(len((1, 2, 3, 4, 5))) #튜플
print(len({'a', 'b', 'c', 'd'}))#세트
print(len({1:"thomas", 2:"Edward", 3:"henry"})) #딕셔너리

5
8
5
4
3

In [58]:
scores = [90, 80, 95, 85]#과목별 시험점수

score_sum =0            #총점계산을 위한 초기값
subject_num =0          #과목수계산을 위한 초기값 설정
for score in scores:
    score_sum = score_sum + score #과목별 점수 모두 더하기
    subject_num =subject_num +1   #과목수 계산
    
    
average =score_sum / subject_num # 평균 (총점/ 과목수) 구하기 

print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

In [64]:
scores = [90, 80, 95, 85]
print("총점:{0}, 평균:{1},".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5,

In [65]:
print("최하점수:{0}, 최고점수:{1}".format(min(scores), max(scores)))

최하점수:80, 최고점수:95